* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  padding: 7px;
  margin: 10px;
  background: purple;
  color: white;

}

.show-player-points{
  margin: 10px;
  font-size: 30px;

}
